/*for ng validation*/
/*success font*/
input.ng-invalid.ng-dirty {
  background-color: #FA787E; }

input.ng-valid.ng-dirty {
  background-color: #78FA89; }

.drop-box {
  border: 3px dashed #DDDDDD;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  /*needs this line for vertical-align to work:*/
  line-height: 50px;
  width: 120px; }

section.projects span.glyphicon-remove {
  cursor: pointer; }

section.ml {
  /*border: 1px black solid;*/
  /*p {*/
  /*cursor: pointer;*/
  /*text-decoration: underline;*/
  /*font-size: 30px;*/
  /*}*/
  /*p {*/
  /*color: blue;*/
  /*}*/ }

main {
  max-width: 980px;
  margin: 0 auto; }

/*body {*/
/*padding-top: 60px;*/
/*}*/
header {
  max-width: 980px;
  margin: 0 auto; }
  header h1 {
    cursor: pointer; }
  header span.navbar-brand {
    cursor: pointer; }

/* For file upload: */
section.upload_checker {
  /*from http://stackoverflow.com/questions/10374171/how-to-make-twitter-bootstraps-pre-blocks-scroll-horizontally*/ }
  section.upload_checker .success {
    color: #5cb85c;
    font-weight: bold; }
  section.upload_checker .failure {
    color: #d9534f;
    font-weight: bold; }
  section.upload_checker .btn-file {
    position: relative;
    overflow: hidden; }
  section.upload_checker .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block; }
  section.upload_checker pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    tab-size: 24; }

section.selection_steps span.glyphicon-remove {
  cursor: pointer; }
section.selection_steps p.bg-info {
  padding: 10px; }
section.selection_steps li.queued {
  background: #f0ad4e; }

section.selection_picker div.description h3 {
  margin-top: 3px; }
section.selection_picker p.bg-warning {
  padding: 10px; }

main.selection_results iframe {
  min-width: 405px;
  min-height: 250px; }
main.selection_results div.iframe_sub {
  min-width: 405px;
  min-height: 250px; }
main.selection_results span.probe {
  cursor: pointer; }
