<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body ng-controller="body">
    <!--{{content}}-->


    <div ng-controller="upload_widget">
        Name of project: <input type="text" ng-model="myModelObj"> 
        <br/>
        <input type="file" ng-file-select="onFileSelect($files)" >
        <input type="file" ng-file-select="onFileSelect($files)" multiple>
        <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
            ng-show="dropSupported">drop files here</div>
        <div ng-file-drop-available="dropSupported=true" 
            ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        <button ng-click="upload.abort()">Cancel Upload</button>
    </div>

    <script src="libs/angular-file-upload-shim.min.js"></script> 
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-file-upload.min.js"></script> 
    <script src="app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
