<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">

    <!--spinner-->
    <link rel="stylesheet" href="css/spinner.css" type="text/css" charset="utf-8">

    <!--bootstrap stuff-->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" charset="utf-8">

    <link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8">

    <title>A Tool for Microarray Feature Selection</title>
</head>
<body>

    <!--header template-->
	<div ng-include src="'partials/header.html'" ng-controller="headCtrl"></div>

    <!--rest of the project goes here-->
	<div ng-view></div>

    <!--debugging interface-->
    <ip-debug ng-if='debug_enabled'></ip-debug>

    <!--library files-->
    <script src="js/libs/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/libs/angular-file-upload-shim.min.js"></script> 
    <script src="js/libs/angular-file-upload.min.js"></script> 
    <script src="js/libs/angular-route.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/libs/angular-sanitize.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/libs/ui-bootstrap-tpls-0.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/libs/underscore-min.js" type="text/javascript" charset="utf-8"></script>


    <!--is highcharts dependent on the highcharts library-->
    <script src="js/libs/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/libs/highcharts.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/libs/highcharts-ng.min.js" type="text/javascript" charset="utf-8"></script>

    <!--js files-->

    <!--app file-->
    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>

    <!--controllers-->
    <script src="js/controllers/bodyCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/headCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/projectsCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/createProjectCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/featureExplorerCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/vanillaPlotterCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/projectWorkspaceCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/uploadCheckerCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/modalCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/selectionStepsCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/selectionPickerCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/selectionResultCtrl.js" type="text/javascript" charset="utf-8"></script>

    <!--for selection-->
    <script src="js/controllers/selection/madCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/selection/univariateCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/selection/lowvarianceCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/selection/embeddedCtrl.js" type="text/javascript" charset="utf-8"></script>

    <!--for displaying the results-->
    <script src="js/controllers/selection_results/madResultCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/selection_results/varianceResultCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/selection_results/univariateResultCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controllers/selection_results/rfeResultCtrl.js" type="text/javascript" charset="utf-8"></script>

    <script src="js/controllers/debugCtrl.js" type="text/javascript" charset="utf-8"></script>

    <!--directives-->
    <script src="js/directives/directives.js" type="text/javascript" charset="utf-8"></script>

    <!--services-->
    <script src="js/services/preplot.js" type="text/javascript" charset="utf-8"></script>

    <!--filters-->
    <script src="js/filters/filters.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/filters/paramHelpers.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
