<div ng-controller='embeddedCtrl'>
    <div class='form-group' ng-controller='featureExplorerCtrl'>
        <label for="uni_ground_truth">Ground truth</label>

        <select id="uni_ground_truth" class='form-control' ng-model="$parent.params.ground_truth" ng-change='plot($parent.params.ground_truth); updateUniGTType(numerical)' ng-options="name for name in project.clinical.feature_names" required>

            <option value="">Choose a clinical feature to pick as the ground truth</option>
        </select>
        <highchart config="chartConfig"></highchart>

        <p ng-show="numerical">
        <span ng-show="numerical === 'Categorical' && !$parent.params.gt_mapping">
            Type:<strong> Categorical</strong>
            <button ng-click='addUniGTMapping()' class='btn btn-primary'>Change</button>
        </span>
        <span ng-show="numerical === 'Numerical' || $parent.params.gt_mapping">
            Type:<strong> Numerical</strong>
            <button ng-click='clearUniGTMapping()' ng-show="$parent.params.gt_mapping" class='btn btn-primary'>Undo</button>
        </span>
        </p>

        <div ng-show='$parent.params.gt_mapping'>
            <div ng-repeat="(name, value) in $parent.params.gt_mapping">
                <label>{{name}}: </label>
                <input class='form-control' type='number' ng-model="$parent.params.gt_mapping[name]" required>
            </div>
        </div>

        <!--end featureexplorer-->
    </div>

    <div class="form-group">
        <label for="missing_values">Missing values in ground truth or integrated clinical features.</label>
        <input class='form-control' ng-list type='text' ng-model='params.missing_values' placeholder='Any values that should be regarded as missing, comma separated'>
    </div>

    <div class="form-group">
        <label for="func">
            Scoring function
        </label>
        <select id="func"
            class="form-control"
            ng-model="params.func"
            ng-options='(func | paramToName) for func in embedded_options.methods[params.gt_type]' required>
            <option value="">Choose an embedded method</option>
        </select>
    </div>

    <div ng-show="params.func === 'rfe'">
        <div class="form-group">
            <label for="mode">Mode</label>
            <select id='mode' class='form-control' ng-model='params.kernel' ng-options='(mode | paramToName) for mode in rfe_options.kernel' required>
                <option value="">Choose a kernel</option>
            </select>
        </div>

        <div ng-show="params.kernel === 'linear'" class="form-group">
            <label for="C">C</label>
            <input class='form-control' id='C' type="number" min=0 ng-model='params.C' placeholder="C (default is 1)">
        </div>

        <div class="form-group">
            <label for="select_k">Select K</label>
            <input class='form-control' id='select_k' type="number" min=0 ng-model='params.select_k' placeholder="K number of features to keep (optional)">
        </div>

    </div>

    <div ng-show="params.func === 'lasso'">
        <div class="form-group">
            <label for="alpha">Alpha</label>
            <input class='form-control' id='alpha' type="number" min=0 ng-model='params.alpha' placeholder="Alpha (default is 1)" required>
        </div>
    </div>

    <p>Additional clinical features to use to build model</p>
    <div class='form-group' ng-controller='featureExplorerCtrl'>
        <highchart config="chartConfig"></highchart>
        <div class='checkbox' ng-repeat='feature in project.clinical.feature_names'>
            <label ng-mouseover='plotIndex($index)'>
                <input ng-model='$parent.params.to_integrate[feature]' ng-disabled='feature === params.ground_truth' type='checkbox'>{{feature}}
            </label>
        </div>
    </div>

    <button
        class='btn btn-primary'
        ng-click='submit()'
        >
        Submit
    </button>

</div>

<!--<div class='form-group' ng-controller='featureExplorerCtrl'>-->
    <!--<label for="uni_ground_truth">Ground truth</label>-->
    <!--<select id="uni_ground_truth" class='form-control' ng-model="$parent.config.ground_truth" ng-options="name for name in project.clinical.feature_names" required>-->
        <!--<option value="">Choose a clinical feature to pick as the ground truth</option>-->
    <!--</select>-->
    <!--<highchart config="chartConfig"></highchart>-->
<!--</div>-->
