<div ng-controller='lowvarianceCtrl'>

    <div class='form-group'>
        <label for='threshold'>Threshold</label>
        <input id="threshold" ng-model="config.threshold" type="number" min=0 class="form-control" placeholder='Enter a threshold value for the population variance' required>
    </div>

    <button
        class='btn btn-primary'
        ng-click='submit()'
        ng-disabled='selection_form.$invalid || isUnchanged(choices) || project.queued'
        >
        Submit
    </button>

</div>
