<div ng-controller='univariateCtrl'>
    <div class='form-group' ng-controller='featureExplorerCtrl'>
        <label for="uni_ground_truth">Dependent variable</label>

        <select id="uni_ground_truth" class='form-control' ng-model="$parent.params.ground_truth" ng-change='plot($parent.params.ground_truth); updateUniGTType(numerical)' ng-options="name for name in project.clinical.feature_names" required>

            <option value="">Choose a clinical feature to pick as the dependent variable</option>
        </select>
        <highchart config="chartConfig"></highchart>

        <p ng-show="numerical">
        <span ng-show="numerical === 'Categorical' && !$parent.params.gt_mapping">
            Type:<strong> Categorical</strong>
            <button ng-click='addUniGTMapping()' class='btn btn-primary'>Change</button>
        </span>
        <span ng-show="numerical === 'Numerical' || $parent.params.gt_mapping">
            Type:<strong> Numerical</strong>
            <button ng-click='clearUniGTMapping()' ng-show="$parent.params.gt_mapping" class='btn btn-primary'>Undo</button>
        </span>
        </p>

        <div ng-show='$parent.params.gt_mapping'>
            <div ng-repeat="(name, value) in $parent.params.gt_mapping">
                <label>{{name}}: </label>
                <input class='form-control' type='number' ng-model="$parent.params.gt_mapping[name]" required>
            </div>
        </div>

    </div>

    <div class="form-group">
        <label for="missing_values">Missing values in ground truth ('' is automatically included)</label>
        <input class='form-control' ng-list type='text' ng-model='params.missing_values' placeholder='Any values that should be regarded as missing, comma separated'>
    </div>

    <div class="form-group">
        <label for="func">
            Scoring function
        </label>
        <select id="func"
            class="form-control"
            ng-model="params.func"
            ng-options='(func | paramToName) for func in univariate_options.scoring_functions[params.gt_type]' required>
            <option value="">Choose a scoring function</option>
        </select>
    </div>

    <div class="form-group">
        <label for="mode">Mode</label>
        <select id='mode' class='form-control' ng-model='params.mode' ng-options='(mode | paramToName) for mode in univariate_options.modes' required>
            <option value="">Choose a mode</option>
        </select>
    </div>

    <!--Better way to do this part? Seems a bit clumsy-->
    <div ng-show="params.mode === 'percentile'"class="form-group">
        <label for="param">Percentile</label>
        <input class='form-control' id="param" type="number" min=0 max=100 ng-model='params.param' placeholder="Top percentile to keep" required>
    </div>
    <div ng-show="params.mode === 'k_best'"class="form-group">
        <label for="param">K Best</label>
        <input class='form-control' id='param' type="number" min=0 ng-model='params.param' placeholder="Top k features to keep" required>
    </div>
    <div ng-show="params.mode === 'fpr'"class="form-group">
        <label for="param">False Positive Rate</label>
        <input class='form-control' id="param" type="number" min=0 ng-model='params.param' placeholder="P value cutoff (0.05 is default)" required>
    </div>
    <div ng-show="params.mode === 'fdr'"class="form-group">
        <label for="param">False Discovery Rate</label>
        <input class='form-control' id="param" type="number" min=0 ng-model='params.param' placeholder="Alpha value cutoff (0.05 is default)" required>
    </div>
    <div ng-show="params.mode === 'fwe'"class="form-group">
        <label for="param">Family-wise Error</label>
        <input class='form-control' id="param" type="number" min=0 ng-model='params.param' placeholder="Alpha value cutoff (0.05 is default)" required>
    </div>

    <button
        class='btn btn-primary'
        ng-click='submit()'
        ng-disabled='selection_form.$invalid || isUnchanged(choices) || project.queued || !fs_selection_method || !project.mapping.result.mapped'
        >
        Submit
    </button>

</div>
