<div ng-controller='rfeResultCtrl'>
    <h3>Selection summary</h3>
    <p>Embedded technique: {{results.selection_method.config.func | paramToName}}</p>
    <p>Probes eliminated: {{results.num_eliminated_features}}</p>
    <p>Probes left: {{results.remaining_features.length}}</p>
    <p>Kernel: {{results.selection_method.config.kernel}}</p>
    <p>C: {{results.selection_method.config.C}}</p>

    <div class='centered' ng-controller='vanillaPlotterCtrl'>
        <highchart config="chartConfig"></highchart>
    </div>

    <h3>Features ranked</h3>

    <div class='row'>
        <div class='col-md-6'>

            <table class='table table-bordered'>
                <tr>
                    <td><strong>Feature name</strong></td>
                    <td><strong>Rank</strong></td> 
                </tr>
                <tr ng-repeat="pair in zipped">
                    <td ng-click='changePopup(pair[0])'>{{pair[0]}}</td>
                    <td>{{pair[1] | number}}</td>
                </tr>
            </table>
        </div>
        <div class='col-md-6'>
            <iframe ng-show='probe' ng-src="{{probe}}"></iframe>
            <div ng-show='!probe' class='iframe_sub'>
                Gene information will show up here if clicked (provided the <a href='http://www.reflect.ws/about.html'>Reflect</a> service).
            </div>
        </div>
    </div>
</div>
