<main>
    <section class="panel panel-primary">

        <div class="panel-heading">
            <h2 class="panel-title">
                About
            </h2>
        </div>

        <div class="panel-body">Put about content here.</div>
    </section>
</main>
