<!--{{content}}-->
<!--<button ng-click="sendRequest($event)">Make request</button>-->
<main>
    <section class="panel panel-primary">

        <div class="panel-heading">
            <h2 class="panel-title">
                Welcome
            </h2>
        </div>

        <div class="panel-body">
            <p>This is the web interface for a microarray feature selection tool. Some standard feature selection
            techniques from the scikit-learn library will be available for you to use, all wrapped up in an easy to use and self-explanatory interface.
        </div>
    </section>

    <!--good; tooltips working fine-->
    <!--<p>rats rats <span tooltip="dogs">rats </span>rats</p>-->

    <ip-projects>
    </ip-projects>
</main>
