<h2>Classification</h2>

<p>What of these features should be used as the ground truth?</p>

<button ng-click='log()'>Log choice</button>
<br/>

<form name="params" novalidate>
<select name="ground_truth"
    required
    ng-model="choices.ground_truth"
    ng-options="feature.name for feature in staged[0].features | filter: {action: '!Discard'}" tooltip="{{tooltips.ground_truth}}">
    <option value="">Select ground truth</option>
</select>
<span ng-show="params.ground_truth.$error.required && !params.ground_truth.$pristine">Ground truth needed</span>
<br/>

<span>Kernel: </span>
<select ng-model="choices.kernel" ng-options="kernel for kernel in svm_options.kernel" tooltip="{{tooltips.kernel}}"></select>
<br/>

<span ng-if="choices.kernel == 'poly'">
<span>Degree: </span><input ng-model='choices.degree' type='number'>
<br/>
</span>

<span>C: </span><input ng-model='choices.C' type='number' tooltip="{{tooltips.C}}">
<br/>

<span>Shrinking: </span><select ng-model="choices.shrinking" ng-options="bool for bool in svm_options.shrinking" tooltip="{{tooltips.shrinking}}"></select>
<br>

<button ng-click="train()" ng-disabled="params.$invalid || isUnchanged(choices)">Train</button>
</form>
