<form name='create_project_form' novalidate class="form-horizontal" role='form' ng-submit="create(name)">
    <div class="form-group">
        <label for="project_name" class='col-sm-2 control-label'>Project name</label>
        <class class="col-sm-8">
            <input id='project_name' class='form-control' type="text" ng-model="name" required>
        </class>
        <div class='col-sm-2'>
            <input id='create_project' ng-disabled='create_project_form.$invalid' class='btn btn-primary' value="Create" type="submit" >
        </div>
    </div>

    <!--only bound when email passes validation-->
    <!--E-mail: <input type="email" ng-model="project.email" /><br />-->
    <!--Gender: <input type="radio" ng-model="project.gender" value="male" />male-->
    <!--<input type="radio" ng-model="project.gender" value="female" />female<br />-->
    <!--<button ng-click="reset()">RESET</button>-->
</form>
