<section class='debug'>
    <div class="panel-heading">
        <h2 class="panel-title">
            Debug
        </h2>
    </div>
    <div class="panel-body">
        Add to queue of rabbits <button ng-click="addToQueue()">Queue rabbit</button>
    </div>
</section>
