<header>
    <nav class="navbar navbar-default" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span ng-click='toHome()' class="navbar-brand" href="#">A Tool for Microarray Feature Selection</span>
            </div>

            <!--<div class='navbar-header'>-->
                <!--<span ng-click='toHome()' class='navbar-brand'>A Tool for Microarray Feature Selection</span>-->
            <!--</div>-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: isActive('projects')}"><a href="#/projects">Projects</a></li>
                    <li ng-class="{active: isActive('about')}"><a href="#/about">About</a></li>
                    <li ng-class="{active: isActive('help')}"><a href="#/help">Help</a></li>
                    <!--<li ><a ng-click='log()'>log</a></li>-->
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
                <!--<form class="navbar-form navbar-left" role="search">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-default">Submit</button>-->
                <!--</form>-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><a href="#">Link</a></li>-->
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
            </div><!-- /.navbar-collapse -->

            <!--<div class="collapse navbar-collapse">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li>About</li>-->
                    <!--<li>Help</li>-->
                <!--</ul>-->
            <!--</div>-->

        </div>
    </nav>
</header>
<!--<a href='#/phones'>phones</a>-->
<!--<a href='#/dogs'>dogs</a>-->
<!--<a href='#/cats'>cats</a>-->
<!--Current page: {{curr_page}}-->
