<div class="modal-header">
    <h3 class="modal-title">{{info.header}}</h3>
</div>
<div class="modal-body">
    {{info.message}}
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="ok()">Yes</button>
    <button ng-if='info.callback' class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
