<section class="projects panel panel-primary">

    <div class="panel-heading">
        <h2 class="panel-title">
            Projects
        </h2>
    </div>

    <div class="panel-body">
        <div class="spinner" ng-show="loading"></div>

        <p> Select an existing project to work on:</p>

        <ul class='list-group'>
            <li class='list-group-item' ng-repeat="project in projects">
                <a href= '#/projects/{{project._id}}'>{{project.name}}</a>
                <span ng-if="project.name == 'sample_project'">(Sample project)</span>
                <span ng-click='deleteProject(project._id)' class="pull-right glyphicon glyphicon-remove"></span>
            </li>
        </ul>

        <hr/>

        <p>Or create a new project:</p>

        <ip-create-project>
        </ip-create-project>
    </div>
</section>
