<main class='workspace'>

<h1>Workspace for <strong>{{project.name}}</strong></h1>

<ip-upload-checker></ip-upload-checker>

<section class='selection_steps panel panel-primary' ng-controller="selectionStepsCtrl">
    <div class='panel-heading'>
        <h2 class='panel-title'>Selection steps overview</h2>
    </div>

    <div class='panel-body'>

        <p class='bg-info'>
            Any feature selection steps, complete or ongoing, will be displayed here. You can click 'View' to get a more detailed description.
            <span class="pull-right glyphicon glyphicon-info-sign"></span>
        </p>
        <ul class='list-group' ng-repeat='step in project.selection_steps'>
            <li class='list-group-item list-group-item-success' ng-class="{'list-group-item-danger': step.error}">
                <div>
                    Selection method used: {{step.selection_method.name}}
                    <div class='pull-right'>
                        <span ng-click='confirmDelete($index)'class="glyphicon glyphicon-remove"></span>
                    </div>

                    <div ng-show='step.selection_method.ground_truth'>Ground truth: {{step.selection_method.ground_truth}}</div>
                    <div class='clearfix'>
                        Remaining features: {{step.remaining_features.length}} of {{project.microarray.meta.num_features}}
                        <button ng-click='examineRemainingFeatures($index + 1)'
                        class="btn-primary btn pull-right">
                            View
                        </button>
                    </div>
                </div>
            </li>
        </ul>

        <!--If there's a queued feature selection, render that as well.-->

        <div ng-if="project.queued">

            <ul class='list-group'>
                <li class="list-group-item list-group-item-warning">
                    <div>
                        Selection method used: {{project.queued.name}} (currently processing... Will be automatically updated when done.)
                        <div class='pull-right'>
                            <span ng-click='killProcess()'class="glyphicon glyphicon-remove"></span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

    <!--end panel-body-->
    </div>

</section>

<ip-selection-picker></ip-selection-picker>

</main>
