<main class='selection_results'>
    <section class='selection_steps panel panel-primary'>
        <div class='panel-heading'>
            <h2 class='panel-title'>Selection result for {{name}}</h2>
        </div>

        <div class='panel-body' ng-show='results'>
            <div>
                <p>Method: {{results.selection_method.name | paramToName}}</p>
            </div>

                <ng-include ng-if='!results.error' src="results.selection_method.name | paramToResultSrc">
                </ng-include>

                <p class='bg-danger' ng-if='results.error'>{{results.error}}</p>

        </div>
    </section>
</main>
