<section class='selection_picker panel panel-primary' ng-controller='selectionPickerCtrl'>
    <div class="panel-heading">
        <h2 class='panel-title'>Perform New Feature Selection</h2>
    </div>

    <div class='panel-body'>
        <p class='bg-warning' ng-show='!project.mapping.result.mapped'>
            You will not be able to perform any feature selection steps until you have successfully performed a subject mapping between the microarray and clinical data.
            <span class="glyphicon glyphicon-warning-sign pull-right"></span>
        </p>
        <p class='bg-info' ng-show='project.mapping.result.mapped > 0'> 
        Feature selection will be done with <strong>{{project.selection_steps[project.selection_steps.length - 1].remaining_features.length || project.microarray.meta.num_features}}</strong> probes (features) on a sample size of <strong>{{project.mapping.result.mapped}}</strong>. There will also be <strong>{{project.clinical.meta.num_features}}</strong> clinical features which can be used for model building/as a scoring metric.
        </p>
        <p>Some examples of feature selection techniques exposed in this tool are:</p>
        <ol>
            <li><strong>Variance threshold </strong>eliminates features based on the amount of variance exhibited in the values; anything below the given threshold is eliminated.</li>
            <li><strong>Univariate filtering </strong>use a 'proxy' measure instead of the error rate to score a feature subset, such as seeing how well a certain probe corresponds to significance tests. Filter methods are quick to compute are often used as a precursor to wrapper methods. Note that significance tests based on classification to clinical features may introducing a bias to the analysis.</li>
            <li><strong>Embedded methods </strong>are sophisticated machine learning algorithms that elminate features whilst training a model, aiming to maximise its performance. Currently, only recursive feature elimination has been implemented.</li>
        </ol>

        <div class='row'>

            <!--form contents-->
            <div class='col-md-6'>

                <!--<select class='form-control' ng-model="fs_selection_method" ng-options="option for option in selection_options" >-->
                <select class='form-control' ng-model="fs_selection_method" ng-options="(option | paramToName) for option in selection_options" >
                <!--<select class='form-control' ng-model="fs_selection_method" ng-options="option.title for option in selection_options | paramToName" >-->
                    <option value="">Choose a feature selection method</option>
                </select>

                <form name='selection_form' novalidate class='well'>


                    <!--much better!-->
                    <ng-include src="fs_selection_method | paramToSelectionSrc"></ng-include>


                </form>
            </div>

            <!--description contents-->
            <div class='col-md-6'>
                <!--<div class='form-group' ng-controller='featureExplorerCtrl'>-->
                    <!--<highchart config="chartConfig"></highchart>-->
                <!--</div>-->
                <div class='description'>
                    <h3>{{fs_selection_method | paramToName}}</h3>
                    <p>{{fs_selection_method | paramToDescription}}</p>

                    <!--<div ng-if="fs_selection_method.title == 'Low variance'" ng-bind-html="config.threshold | low_variance_helper"></div>-->
                    <!--<div ng-if="fs_selection_method.title == 'Univariate feature selection'" ng-bind-html="uni | univariate_helper">-->
                    <!--</div>-->

                    <div ng-if="fs_selection_method.title == 'Univariate feature selection' && config.missing_values">
                        <p>Values that will be treated as missing are</p>
                        <ul>
                            <li ng-repeat="m in config.missing_values">
                                {{m}}
                            </li>
                        </ul>
                    </div>
                    <!--<div ng-if="fs_selection_method == 'Univariate feature selection'" ng-bind-html="embeeded | "></div>-->
                    <!--<div ng-bind-html='paramHelperFilter(uni)'></div>-->
                    <!--<div>{{uni}}</p>-->
                </div>
            </div>

        <!--end row (span6/span6)-->
        </div>

        <!--any alerts will be displayed here-->
        <div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>

        <p class='bg-warning' ng-if='project.queued && fs_selection_method'>
            You must wait for (or cancel) the current feature selection procedure to finish before submitting a new one.
            <span class="glyphicon glyphicon-warning-sign pull-right"></span>
        </p>

        <!--<button class='btn btn-primary' ng-click="train()" ng-disabled="selection_form.$invalid">Train</button>-->

    <!--end panel body-->
    </div>
</section>
