<div ng-controller="upload_widget">
	<!--Name of project: <input type="text" ng-model="myModelObj"> -->
	<!--<br/>-->
	<input type="file" ng-file-select="onFileSelect($files)" >
	<input type="file" ng-file-select="onFileSelect($files)" multiple>
	<div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
		ng-show="dropSupported" class="drop-box">drop files here</div>
	<div ng-file-drop-available="dropSupported=true" 
		ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
	<!--<button ng-click="upload.abort()">Cancel Upload</button>-->
</div>
