<section class='upload_checker panel panel-primary' ng-controller='uploadCheckerCtrl'>

    <div class="panel-heading">
        <h2 class='panel-title'>
            Data and mappings
            <span ng-if='project.mapping.result.mapped > 0' class='pull-right glyphicon glyphicon-ok'>
            <span ng-if='!project.mapping.result.mapped' class='pull-right glyphicon glyphicon-remove'>
            </span>
        </h2>
    </div>

    <div class='panel-body'>

        <p>
            <span>
                <strong>Clinical file</strong>
            </span>

            <span ng-if="!project.clinical">
                <span class='failure'>not uploaded.</span> Please upload a clinical dataset.
                <span ng-if="progress.clinical.state == 'idle'" class="btn btn-primary btn-file">Browse
                    <input type="file" ng-file-select='uploadClinical($files)'>
                </span>
            </span>

            <span ng-if="project.clinical">
                <span class='success'>okay</span>: Contains
                <b>{{project.clinical.meta.num_features}}</b>
                features with sample size
                <b>{{project.clinical.meta.num_samples}}</b>.
                <span ng-if="progress.clinical.state == 'idle'" class="btn btn-warning btn-file">Upload again
                    <input type="file" ng-file-select='uploadClinical($files)'>
                </span>
            </span>

            <div ng-if="progress.clinical.state == 'uploading'" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style='progress.clinical.style'>
                    {{progress.clinical.percent | percent}}
                </div>
            </div>

            <!--any alerts will be displayed here-->
            <div>
                <alert ng-repeat="alert in alerts.clinical" type="{{alert.type}}" close="closeAlert($index, 'clinical')">{{alert.msg}}</alert>
            </div>

            <pre ng-if="project.clinical.meta.sample">{{project.clinical.meta.sample}}</pre>
        </p>

        <p>
            <span>
                <strong>Microarray file</strong>
            </span>

            <span ng-if="!project.microarray">
                <span class='failure'>not uploaded.</span> Please upload a microarray dataset.
                <span ng-if="progress.microarray.state == 'idle'" class="btn btn-primary btn-file">Browse
                    <input type="file" ng-file-select='uploadMicroarray($files)'>
                </span>
            </span>

            <span ng-if="project.microarray">
                <span class='success'>okay</span>: Contains
                <b>{{project.microarray.meta.num_features}}</b>
                probes/genes with sample size
                <b>{{project.microarray.meta.num_samples}}</b>.
                <span ng-if="progress.microarray.state == 'idle'" class="btn btn-warning btn-file">Upload again
                    <input type="file" ng-file-select='uploadMicroarray($files)'>
                </span>
            </span>


            <div ng-if="progress.microarray.state == 'uploading'" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style='progress.microarray.style'>
                    {{progress.microarray.percent | percent}}
                </div>
            </div>


            <!--any alerts will be displayed here-->
            <div>
                <alert ng-repeat="alert in alerts.microarray" type="{{alert.type}}" close="closeAlert($index, 'microarray')">{{alert.msg}}</alert>
            </div>

            <pre ng-if="project.microarray.meta.sample">{{project.microarray.meta.sample}}</pre>
        </p>



        <p>
            <span>
                <strong>Subject mapping file</strong>
            </span>

            <span ng-if="!project.mapping">
                <span class='failure'>not uploaded.</span> Please upload a mapping file.
                <span ng-if="progress.mapping.state == 'idle'" class="btn btn-primary btn-file">Browse
                    <input type="file" ng-file-select='uploadMapping($files)'>
                </span>
            </span>

            <span ng-if="project.mapping">
                <span class='success'>okay</span>.
                <span ng-if="progress.mapping.state == 'idle'" class="btn btn-warning btn-file">Upload again
                    <input type="file" ng-file-select='uploadMapping($files)'>
                </span>

            </span>


            <div ng-if="progress.mapping.state == 'uploading'" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style='progress.mapping.style'>
                    {{progress.mapping.percent | percent}}
                </div>
            </div>

            <pre ng-if="project.mapping.meta.sample">{{project.mapping.meta.sample}}</pre>


            <!--any alerts will be displayed here-->
            <div>
                <alert ng-repeat="alert in alerts.mapping" type="{{alert.type}}" close="closeAlert($index, 'mapping')">{{alert.msg}}</alert>
            </div>

            <p ng-show='project.mapping'>
            You can now (re)choose which columns to use for mapping the clinical patient IDs onto microarray ones:
            </p>

            <p ng-show='project.mapping'>
            Clinical: 
            <select ng-model="clinical_column" ng-options="name for name in project.mapping.columns">
                <option value="">Choose clinical</option>
            </select>
            Microarray:
            <select ng-model="microarray_column" ng-options="name for name in project.mapping.columns">
                <option value="">Choose microarray</option>
            </select>
            <button class='btn btn-primary' ng-disabled="!clinical_column || !microarray_column || clinical_column == microarray_column" ng-click='chooseMappings()'>Map</button>

            <div style='display: block; margin: 0 auto' ng-show='mapping_loading' class="spinner"></div>
            </p>

            <p ng-show='!project.mapping.result && project.mapping'>
            You have not mapped the clinical to microarray yet!
            </p>

            <!--only if there's a result present-->
            <p class='bg-success' ng-show='project.mapping.result'>
            <b>{{project.mapping.result.mapped}}</b>
            out of
            <b>{{project.mapping.meta.num_mappings}}</b>
            microarray patient IDs are currently succcessfully mapped onto clinical patient IDs, using the
            <strong>{{project.mapping.columns[project.mapping.result.c_index]}}</strong>
            column as the clinical data, and the
            <strong>{{project.mapping.columns[project.mapping.result.m_index]}}</strong>
            column as the microarray data.
            <!--Feature selection will be done with a sample size of <strong>{{project.mapping.result.mapped}}</strong>.-->
            <span class="glyphicon glyphicon-ok pull right"></span>
            </p>

        </p>
        <p>

            <span>
                <strong>Annotation file</strong> (optional)
            </span>

            <span ng-show="!project.annotation">
                <span class='failure'>not uploaded.</span> In order to use reflect plugin to see which features correspond to which genes, please upload an annotation file which maps probe IDs onto gene names.
                <span ng-if="progress.annotation.state == 'idle'" class="btn btn-primary btn-file">Browse
                    <input type="file" ng-file-select='uploadAnnotation($files)'>
                </span>
            </span>

            <span ng-show="project.annotation">
                <span class='success'>okay</span>.
                <span ng-if="progress.annotation.state == 'idle'" class="btn btn-warning btn-file">Upload again
                    <input type="file" ng-file-select='uploadAnnotation($files)'>
                </span>

            </span>


            <div ng-if="progress.annotation.state == 'uploading'" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style='progress.mapping.style'>
                    {{progress.annotation.percent | percent}}
                </div>
            </div>

            <pre ng-show="project.annotation.meta.sample">{{project.annotation.meta.sample}}</pre>

            <!--any alerts will be displayed here-->
            <div>
                <alert ng-repeat="alert in alerts.annotation" type="{{alert.type}}" close="closeAlert($index, 'annotation')">{{alert.msg}}</alert>
            </div>

            <p ng-show='project.annotation'>
            You can now (re)choose which columns to use for mapping the probe IDs to the genes (if your microarray file has been formatted to already use gene IDs, you did not have to do this step).
            </p>

            <p ng-show='project.annotation'>
            Probe: 
            <select ng-model="probe_column" ng-options="name for name in project.annotation.columns">
                <option value="">Choose probe</option>
            </select>
            Gene:
            <select ng-model="gene_column" ng-options="name for name in project.annotation.columns">
                <option value="">Choose gene</option>
            </select>
            <button class='btn btn-primary' ng-disabled="!probe_column || !gene_column || probe_column == gene_column" ng-click='chooseAnnotations()'>Map</button>

            <div style='display: block; margin: 0 auto' ng-show='annotation_loading' class="spinner"></div>
            </p>

            <p ng-show='!project.annotation.result && project.annotation'>
            Please now map the probe to the gene.
            </p>

            <!--only if there's a result present-->
            <p class='bg-success' ng-show='project.annotation.result'>
            <b>{{project.annotation.result.mapped}}</b>
            out of
            <b>{{project.annotation.meta.num_annotations}}</b>
            probe IDs are currently successfully mapped onto genes, using the
            <strong>{{project.annotation.columns[project.annotation.result.p_index]}}</strong>
            column as the probe IDs, and the
            <strong>{{project.annotation.columns[project.annotation.result.g_index]}}</strong>
            column as the gene names.
            <span class="glyphicon glyphicon-ok pull right"></span>
            </p>

        </p>
    <!--end panel-body-->
    </div>
</section>
